.profile_picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #E9ECEF;
}
.profile_picture_list{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.tabela{
max-width: 100vw !important;
}

@media screen and (max-width: 1060px){
    .nome, .celular, .cidade, .telefone, .email, .celular{
        font-size: 15px;
    }
    .topo{
        font-size: 10px !important;
    }
    
}

@media screen and (max-width: 770px){
    .celular, .telefone, .topo-celular, .topo-telefone{
        display: none;
    }
    .topo{
        font-size: 15px !important;
    }
    
}
@media screen and (max-width: 618px){
    .detalhes{
        font-size: 10px;
    }
    
}

@media screen and (max-width: 477px){
    .email, .email-topo{
        display: none;
    }
}

@media screen and (max-width: 1199px){
    .disable, .disabledTextInput{
        font-size: 12px;
    }
    
}